{% extends 'contacts/base.html' %}
    {% block content %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчество</th>
                <th scope="col">Дата рождения</th>
                <th scope="col">Телефон</th>
                <th scope="col">Email</th>
                <th scope="col">Страница в соц. сети</th>
                <th scope="col">Описание</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ contact.last_name }}</td>
                <td>{{ contact.first_name }}</td>
                <td>{{ contact.patronymic }}</td>
                <td>{{ contact.date_of_birth }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.social_page_networks }}</td>
                <td>{{ contact.deck }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{% url 'contact_list' %}">Вернуться назад<a/>

    {% endblock %}